.container {
  margin: 0;
  width: 960;
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana,
  sans-serif;
  line-height: 1.6;
}

.place {
  border-color: #CCC #999 #999 #CCC;
  border: 1px solid #CCC;
  margin-bottom: 20px;
  padding: 10x;
}

